<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>User: {{ user.username }}</li>
    <li>
      <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-link" style="padding: 0; border: none; background: none; cursor: pointer; color: inherit; text-decoration: underline;">
          Logout
        </button>
      </form>
    </li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
  <br>
  <li><a href="{% url 'kitchen:index' %}">Home</a></li>
  <li><a href="{% url 'kitchen:cook-list' %}">All Cooks</a></li>
  <li><a href="{% url 'kitchen:dish-list' %}">All Dishes</a></li>
  <li><a href="{% url 'kitchen:dish-type-list' %}">All Dish Types</a></li>
  <li><a href="{% url 'kitchen:ingredient-list' %}">All Ingredients</a></li>
</ul>