{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="header-container">
  <h1>Dishes List <a href="{% url 'kitchen:dish-create' %}" class="btn btn-success float-right">+ Add Dish</a></h1>
</div>
  <form method="get" action="" class="form-inline">
  {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>

{% if dish_list %}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for dish in dish_list %}
        <tr>
          <td>{{ dish.id }}</td>
          <td>
            <a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.name }}</a>
          </td>
          <td>{{ dish.dish_type.name }}</td>
          <td>
            <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-sm btn-primary">Update</a>
            <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info">There are no dishes in the service</div>
{% endif %}
{% endblock %}