{% extends 'base.html' %}
{% load static %}

{% block title %} Ingredients List {% endblock title %}

{% block body_class %} ingredients-list {% endblock body_class %}

{% block hero %}
<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'background.jpg' %}')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <p class="lead text-white mt-3">All ingredients available in the system</p>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock hero %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Ingredients</h2>
    <a href="{% url 'kitchen:ingredient-create' %}" class="btn btn-success">+ Add Ingredient</a>
  </div>

  {% if ingredient_list %}
    <div class="card">
      <div class="table-responsive">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for ingredient in ingredient_list %}
              <tr>
                <td class="ps-4">
                  <p class="text-xs font-weight-bold mb-0">{{ ingredient.id }}</p>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">
                        <a href="{% url 'kitchen:ingredient-detail' pk=ingredient.id %}">{{ ingredient.name }}</a>
                      </h6>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <a href="{% url 'kitchen:ingredient-update' pk=ingredient.id %}" class="btn btn-sm btn-primary me-2">Update</a>
                  <a href="{% url 'kitchen:ingredient-delete' pk=ingredient.id %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <div class="alert alert-info">There are no ingredients in the service</div>
  {% endif %}
{% endblock content %}